html,body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Roboto, sans-serif;
    padding: 10px;
    position: relative;
}

*{
    box-sizing: border-box;
}
.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px
}

.left{
    display: flex;
 align-items: center;
}

.menu {
    padding: 0 7px;
    cursor: pointer;
}

.search {
    display: flex;
}

.center{
    margin-left: 150px;
    margin-right: 130px;
}
   
.search form {
display: flex;
}

input[type="search"], .search button{
    height: 40px;
    border-radius:  50px 0 0 50px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 600px;
    padding:10px;
    position: relative;
    font-size: 16px;
    border-right: none;
}

input:focus {
    outline: none;
    border: 1px solid #ddd;
}



.search button {
    height: 40px;
    width: 60px;
    border: none;
    padding: 0;
    border-radius: 0 50px 50px 0;
    border: 1px solid #ccc;
}

.mic {
    margin-left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgb(226, 224, 224);
}

.right img:hover:not(:last-of-type),.Xcancel-icon:hover{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgb(226, 224, 224);
}

.Michelle{
    border-radius: 175px;
    height: 30px;
    
}

.icon {
    color: rgb(153, 151, 151);
    padding: 0 7px;
    cursor: pointer;
  }

a{
    text-decoration: none;   
    color: black;
}

li{
    list-style-type: none;
}
    
.section2{
    position: absolute;
    left: 235px;
    top: 50px;
    display: flex;
}

.section2 a{
    background-color: #ddd;
    padding: 9px 11px;
    border-radius: 5px;
    height: 5px;
    font-size: 14px;
    font-weight: 200;
}

.section2 ul{
   margin-top: 40px;
   padding-left: 0;
}

.section2 li{
    margin: 0 8px;
}

.section2 a:hover{
    background-color: black;
    color: white;
}



.section4{
    position: relative;
    width: 100%;
    height: 90vh;
    border-bottom: 2px solid #ccc;
    margin-bottom: 60px;
}

.section4 button{
    position: absolute;
    bottom: -20px; /* Adjust this value as needed */
    left: 45%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    border:  1px solid  #ccc;
    width: 400px;
}

.section4 button:hover{
    background-color: rgb(226, 224, 224);
}

.section4 div{
    margin-right: 12px;
}

.section4 h4, .section4 p {
    width: 180px;
}

.section4 p{
    padding-left: 0;
    padding-top: 5px;
}

.shot h2{
    display: inline;
}
.shorts{
    margin-bottom: 40px;
}


a>img{
    padding-right: 20px;
}

p{
    color: #616060;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 0;
    padding-left: 40px;
    margin-bottom: 0;
}

main{
    position: absolute;
    width: 100vw;
    height: calc(100vh - 70px);
    margin-top: 160px;
}

.main {
    margin-left: 40px;
    background-color: #f9f9f9;
}

.main-section{
    width: 1115px;
}

.main-section>div{
    margin-bottom: 40px;
}

.main-section>div>img{
    width: 350px;
    margin-right: 20px;
}

.main-section p{
    width: 297px;
    padding-left: 0;
    color: rgb(96, 96, 96);
}

.side-bar{
    /* margin-top: 35px; */
    /* overflow-y: scroll; */
    height: 100%;
    width: 14%;
    background-color: white;
    /* overflow-y: hidden; */
    position: relative;
    bottom: 87px;
}

.side-bar li{
    width: 210px;
    height: 40px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;

}

.side-bar a {
    padding-left: 30px;
}

.side-bar li:hover,.side-bar h4:hover{
    background-color:  #e5e5e5;
    color: black;
    margin-bottom: 20px;
    width: 210px;
    height: 45px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.side-bar h4:hover{
    padding: 10px;
}


.side-bar h4{
    padding-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 210px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
}

.side-bar ul:last-of-type{
    margin: 21.280px 0;
}

.side-bar ul{
    margin: 0;
    border-bottom: 1px solid #e5e5e5 ;
    padding-inline-start: 0;
}

.upremium,.ukids,.umusic{
    height: 25px;
}

.killerbean{
    right: 750px;
}

.account{
    margin-right: 10px;
}

h4{
    width: 280px;
    line-height: 25px;
    margin: 0;
    color: rgb(3, 3, 3);    
}

.ads{
    margin-left: 50px;
}

.music{
    margin-left: 60px;
    margin-bottom: 100px;
}

.music h1{
    font-family: Roboto ,sans-serif;
    font-size: 30px;
    margin: 0 0 20px 0;
    word-spacing: 10px;
    letter-spacing: 2px;
}

.music p{
    padding: 0;
    font-size: 20px;
    margin-bottom: 20px;
}

.music button{
    background-color: #0162d2;
    color: white;
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 50px;
}

.container{
display: flex;
}

.space-between{
justify-content:space-between;
}

.column{
flex-direction: column;
}

.row{
flex-direction: row;
}

.wrap{
flex-wrap: wrap;
}

.no-wrap{
flex-wrap: nowrap;
}





@media (max-width: 768px) {
    .side-bar {
      display: none;
    }
  }
